language: erlang

env:
   - ST=PharoCore-1.3
   - ST=Pharo-1.4
#   - ST=Pharo-2.0 #Pharo-2.0 not ready for testing yet
   - ST=Squeak-4.3

install:
   - export PROJECT_HOME="$(pwd)"
   - cd $HOME
   - wget -O builderCI.zip https://github.com/dalehenrich/builderCI/zipball/master
   - unzip -q builderCI.zip
   - cd dalehenrich-builderCI*
   - source build_env_vars
   - ln -s $PROJECT_HOME $GIT_PATH
   - ./build_image.sh

script:
   - ./build.sh -i $ST -s latAmMirror.st -X -f "$PROJECT_HOME/tests/travisTest.st" -o travisCI
   - cd "${BUILD_PATH}/travisCI/"
   - $BUILDER_CI_HOME/buildImageErrorCheck.sh
   - cat TravisTranscript.txt
   - $BUILDER_CI_HOME/buildTravisStatusCheck.sh

